<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>E-commerce</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/LineIcons.3.0.css" />
    <!-- Tiny slider css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css" integrity="sha512-eMxdaSf5XW3ZW1wZCrWItO2jZ7A9FhuZfjVdztr7ZsKNOmt6TUMTQgfpNoVRyfPE5S9BC0A4suXzsGSrAOWcoQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Glightbox css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.css" integrity="sha512-iQ3H4A+iyBTP8M4ypX5PrTt2S+G1zmRjf0k0uOASKlFHysV8TL9ZoQyVwPss0D12IBTMoDEHA8+bg8a1viS9Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body>
<div class="topbar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="top-left">
                    <ul class="menu-top-link">
                        <li>
                            <div class="select-position">
                                <select id="select5">
                                    <option value="0" selected>English</option>
                                    <option value="1">Español</option>
                                    <option value="2">Filipino</option>
                                    <option value="3">Français</option>
                                    <option value="4">العربية</option>
                                    <option value="5">हिन्दी</option>
                                    <option value="6">বাংলা</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="top-middle">
                    <ul class="useful-links">
                        <li><a href="/" class="text-decoration-none">Home</a></li>
                        <li><a href="/about-us" class="text-decoration-none">About Us</a></li>
                        <li><a href="/contact-us" class="text-decoration-none">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="top-end">
                    <div class="user">
                        <i class="bi bi"></i>
                        Hello
                    </div>
                    <ul class="user-login">
                        <li>
                            <a href="/login" class="text-decoration-none">Log in</a>
                        </li>
                        <li>
                            <a href="/register" class="text-decoration-none">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- End Topbar -->
  <!-- Start Header Middle -->
  <div class="header-middle">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-3 col-7">
                <!-- Start Header Logo -->
                <a class="navbar-brand" href="/">
                    <img src="/images/Logo.png" alt="Logo">
                </a>
                <!-- End Header Logo -->
            </div>
            <div class="col-lg-5 col-md-7 d-xs-none">
                <!-- Start Main Menu Search -->
                <div class="main-menu-search">
                    <!-- navbar search start -->
                    <div class="navbar-search search-style-5">
                        <div class="search-input">
                            <input type="text" placeholder="Search">
                        </div>
                        <div class="search-btn">
                            <button><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                    <!-- navbar search Ends -->
                </div>
                <!-- End Main Menu Search -->
            </div>
            <div class="col-lg-4 col-md-2 col-5">
                <div class="middle-right-area">
                    <div class="nav-hotline">
                        <i class="bi bi-telephone"></i>
                        <h3>Hotline:
                            <span>(+100) 123 456 7890</span>
                        </h3>
                    </div>
                    <div class="navbar-cart">
                        <div class="cart-items">
                            <a href="javascript:void(0)" class="main-btn">
                                <i class="bi bi-cart"></i>
                                <span class="total-items">2</span>
                            </a>
                            <!-- Shopping Item -->
                            <div class="shopping-item">
                                <div class="dropdown-cart-header">
                                    <span>2 Items</span>
                                    <a href="/cart">View Cart</a>
                                </div>
                                <ul class="shopping-list">
                                    <li>
                                        <a href="javascript:void(0)" class="remove" title="Remove this item"><i
                                                class="bi bi-trash"></i></a>
                                        <div class="cart-img-head">
                                            <a class="cart-img" href="/product-details"><img
                                                    src="assets/images/header/cart-items/item1.jpg" alt="#"></a>
                                        </div>

                                        <div class="content">
                                            <h4><a href="/product-details">
                                                    Apple Watch Series 6</a></h4>
                                            <p class="quantity">1x - <span class="amount">$99.00</span></p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="remove" title="Remove this item"><i
                                                class="bi bi-trash"></i></a>
                                        <div class="cart-img-head">
                                            <a class="cart-img" href="/product-details"><img
                                                    src="assets/images/header/cart-items/item2.jpg" alt="#"></a>
                                        </div>
                                        <div class="content">
                                            <h4><a href="/product-details">Wi-Fi Smart Camera</a></h4>
                                            <p class="quantity">1x - <span class="amount">$35.00</span></p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="bottom">
                                    <div class="total">
                                        <span>Total</span>
                                        <span class="total-amount">$134.00</span>
                                    </div>
                                    <div class="button">
                                        <a href="checkout.html" class="btn animate">Checkout</a>
                                    </div>
                                </div>
                            </div>
                            <!--/ End Shopping Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Middle -->
<!-- Start Header Bottom -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-8 col-md-6 col-12">
            <div class="nav-inner">
                <!-- Start Mega Category Menu -->
                <div class="mega-category-menu">
                    <span class="cat-button"><i class="bi bi-menu"></i>All Categories</span>
                    <ul class="sub-category">
                        <li><a href="/product-grids">Electronics <i class="bi bi-chevron-right"></i></a>
                            <ul class="inner-sub-category">
                                <li><a href="/product-grids">Digital Cameras</a></li>
                                <li><a href="/product-grids">Camcorders</a></li>
                                <li><a href="/product-grids">Camera Drones</a></li>
                                <li><a href="/product-grids">Smart Watches</a></li>
                                <li><a href="/product-grids">Headphones</a></li>
                                <li><a href="/product-grids">MP3 Players</a></li>
                                <li><a href="/product-grids">Microphones</a></li>
                                <li><a href="/product-grids">Chargers</a></li>
                                <li><a href="/product-grids">Batteries</a></li>
                                <li><a href="/product-grids">Cables & Adapters</a></li>
                            </ul>
                        </li>
                        <li><a href="/product-grids">accessories</a></li>
                        <li><a href="/product-grids">Televisions</a></li>
                        <li><a href="/product-grids">best selling</a></li>
                        <li><a href="/product-grids">top 100 offer</a></li>
                        <li><a href="/product-grids">sunglass</a></li>
                        <li><a href="/product-grids">watch</a></li>
                        <li><a href="/product-grids">man’s product</a></li>
                        <li><a href="/product-grids">Home Audio & Theater</a></li>
                        <li><a href="/product-grids">Computers & Tablets </a></li>
                        <li><a href="/product-grids">Video Games </a></li>
                        <li><a href="/product-grids">Home Appliances </a></li>
                    </ul>
                </div>
                <!-- End Mega Category Menu -->
                <!-- Start Navbar -->
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul id="nav" class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a href="/" class="active" aria-label="Toggle navigation">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                    data-bs-target="#submenu-1-2" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">Pages</a>
                                <ul class="sub-menu collapse" id="submenu-1-2">
                                    <li class="nav-item"><a href="/about-us">About Us</a></li>
                                    <li class="nav-item"><a href="/login">Login</a></li>
                                    <li class="nav-item"><a href="/register">Register</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                    data-bs-target="#submenu-1-3" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">Shop</a>
                                <ul class="sub-menu collapse" id="submenu-1-3">
                                    <li class="nav-item"><a href="/product-grids">Shop Grid</a></li>
                                    <li class="nav-item"><a href="product-list.html">Shop List</a></li>
                                    <li class="nav-item"><a href="/cart">Cart</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="/contact-us" aria-label="Toggle navigation">Contact Us</a>
                            </li>
                        </ul>
                    </div> <!-- navbar collapse -->
                </nav>
                <!-- End Navbar -->
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <!-- Start Nav Social -->
            <div class="nav-social">
                <h5 class="title">Follow Us:</h5>
                <ul>
                    <li>
                        <a href="javascript:void(0)"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="bi bi-twitter-x"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="bi bi-skype"></i></a>
                    </li>
                </ul>
            </div>
            <!-- End Nav Social -->
        </div>
    </div>
</div>
</body>